/* All styles for your header Components live here */

.lambdaLogo {
    /* border: solid blue;
    border-left: solid blue;
    border-right: solid blue; */
    width: 70%;
    height: 10px;
}

.header {
    color: rgb(67, 63, 63);
    font-size: .5rem;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    align-items: center;
    border-spacing: 20px;

}

a {
    text-decoration: none;
    color: rgb(162, 154, 154);
}

.headerContent {
    color: rgb(67, 63, 63);
    text-decoration: none;
    border: solid blue;
    margin-left: 150px;
    margin-right:10px;
    border-right: solid blue;
}

html {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-right: 600px;
    border: solid blue;
    border-right: solid blue;
    font-size: .5rem;
}

