/* All styles for your header Components live here */
.lambdaLogo {
    border-top: solid blue;
    border-left: solid blue;
    border-right: solid blue;
    width: 70%;
    height: 10px;
}

.headerContent {
    color: red;
    width: 70%;
    margin-left: 150px;
}

html {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}