html {
    width: 550px;
    margin-left: 100px;
    padding-top: 20px;
    display: flex;
   flex-flow: row wrap;

}

.actionButton {
    color: white;
    background-color: rgb(154, 28, 28);
    font-size: 80px;
}

.numberButton {
    font-size: 80px;
    border: solid black;
    width: 318px;
}

.calculatorDisplay {
    color: white;
    background: black;
    height: 120px;
    font-size: 75px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

.individualButtons {
    border: solid black;
    width: 100px;
    text-align: center;
    
  
}

.individualNumbers {
    border: solid black;
    width: 100px;
    content: center;
    text-align: center;
    display: inline-block;
    
}