html {
    width: 450px;
    margin-left: 100px;
    margin-top: 20px;
}

.numberButton {
    color: blue
}

.calculatorDisplay {
    color: white;
    background: black;
    height: 120px;
    font-size: 75px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}