html {
    width: 600px;
    margin-left: 100px;
    padding-top: 20px;
    display: flex;
   flex-flow: row wrap;

}

.actionButton {
    color: red;
    font-size: 80px;
}

.numberButton {
    color: blue;
    font-size: 80px;
    border: solid black;
    max-width: 400px;
}

.calculatorDisplay {
    color: white;
    background: black;
    height: 120px;
    font-size: 75px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

.individualButtons {
    border: solid black;
    width: 100px;
    text-align: center;
    
  
}

.individualNumbers {
    border: solid blue;
    width: 100px;
    content: center;
    text-align: center;
    display: inline-block;
    
}